.app-header{
    // position: fixed;
    // top:0;
    background-color: $bgcAppBar;
    padding-inline: 5px;
    & nav{
        gap:10px;
        .active-nav {
            // color: red;
            text-decoration: underline;
          }
    }
    .right-side{
        gap:20px
    }
}