.app-header {
    // position: fixed;
    // top:0;
    background-color: $bgcAppBar;
    padding-inline: 10px;
    & nav {
        // gap: 10px;
        .active-nav {
            // color: red;
            text-decoration: underline;
        }
    }
    .right-side {
        & .hamburger-button {
            font-size: 2rem;
            @include for-tablet-layout {
                display: none;
            }
        }
        gap: 20px;
        // flex-direction: column;
        & .nav {
            @include for-mobile-layout {
                & div{
                border-bottom: 1px solid #fff;

                    padding: 1rem;
                }

                .active-nav {
                    // color: red;
                    text-decoration: none;
                    background-color: rgba(0,0,0,0.7);
                }
                    
                

                z-index: 1;
                // background-color: lightslategray;
                background-color: #6d6a6a;
                position: fixed;
                top: 0;
                right: 0;
                height: 100vh;
                width: 200px;
                flex-direction: column;
                text-align: center;
                // gap: 1rem;
                transform: translateX(100%);
                transition: transform 0.5s;
                &.menu-open {
                    transform: translateX(0);
                }
            }

            @include for-tablet-layout {
        gap: 10px;

            }

            @include for-normal-layout {
            }

            @include for-wide-layout {
            }
        }
    }
}
