.app-header{
    padding-inline: 5px;
    & nav{
        gap:10px;
        .active-nav {
            // color: red;
            text-decoration: underline;
          }
    }
    .right-side{
        gap:20px
    }
}