.contact-edit{
    width: 300px;
    display: flex;
    flex-direction: column;

    // & > input:last-child{
    //     margin-bottom: 20px;
    // }
    & button{
        margin-top: 20px;
    }
    
}
