.contact-preview {
  // background-color:rgb(227, 238, 253);
  background-color:$bgcCards;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 4px 1px #0000003b;
  cursor: pointer;
  &:hover{
    // background-color: rgb(240, 240, 240);
    filter: brightness(1.15)
  }
  & img{
    margin-right: 10px;
  }
}
