.contact-page{
    // width:100%
    // background-color: $bgcMain;
}
.contact-filter{
    input{
        
        background-color: $bgcAppBar;
        // background-color: #000000;
        color: $secondaryText;
        padding: 15px 5px;
        // &:focus{
        //     outline: none;
        // }
    }
}