.transfer-fund{
    width: 70%;
    align-self: center;
    // width: 100%;
    background-color: lightseagreen;
    & form{
        div:first-child{
            width: 100%;
        }
    } 
    input{
        width:100%
    }

    & .nice-button{
        // display: block;
        height: 100%;
    }

}