// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;

//background
$bgcAppBar:#0a0909;
$bgc-mainLayout:#181818;
$bgcMain:#303030;
$bgcCards:#424242;
// text
$primaryText:rgba(255,255,255,1);
$secondaryText: rgba(255,255,255,0.7);
$hintText: rgba(255,255,255,0.5);

$bitCoin--clr: #79ff00;


$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;