* {
  box-sizing: border-box;
}

html {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  margin: 0;
  min-height: 100vh;
  // height: 100vh;
  // overflow: hidden;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

input {
  background-color: $bgcMain;
  color: $secondaryText;

  font-size: 1rem;
  padding: 10px 5px;
  border: 0;
  border-radius: 0;
  // padding: 0;
  font-family: inherit;
  text-align: inherit;

  width: 100%;
  //  box-sizing: border-box;
  //  -webkit-box-sizing:border-box;
  //  -moz-box-sizing: border-box;

  &:focus {
    outline: none;

    filter: brightness(0.85);
  }
  &:hover {
    // filter: brightness(1.08)
    filter: brightness(0.85);
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    // margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}
